In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import random
import os
import scanpy as sc

import copy
import sys

sys.path.append('/home/rui/')
import Subtype_Deconvolution as sd

In [2]:
alpha = {
    'mg1':[500,1,1],
    'mg2':[1,500,1],
    'mg3':[1,1,500],
    'mg4':[5000,5000,5000]
}

alpha_df = pd.DataFrame(alpha,index=['CT1', 'CT2', 'CT3']).T
alpha_arr = np.array(alpha_df.T)

#total mRNA
logLS_m = [np.log10 (5000), np.log10 (5000), np.log10 (5000)]
logLS_std = [0.2, 0.2, 0.2]

gene_name = alpha_df.index
celltype_names = alpha_df.columns

smaple_component_sc = [[1000,1000,1000]]
sample_component_bulk =[[100,200,300],
                        [100,100,100]]

In [3]:
bulk,sc_m,sc_info,bulk_prob = sd.sim.generate_data('test_code', smaple_component_sc,sample_component_bulk,0.8, celltype_names, logLS_m, logLS_std, alpha_arr, gene_name)
sc_m = sc_m.T.reset_index().iloc[:,1:]
sc_ct = pd.DataFrame(sc_info.iloc[0,:].reset_index().iloc[:,1])
bulk = bulk.T

# result_pro1=pd.DataFrame()

makrer_list = sc_m.columns[0:2]

pm1,sc_ref1,bulk1=sd.pre_process.input_process(sc_m, sc_ct, bulk, makrer_list)
sc_ref1c  = sd.pre_process.sc_correction(sc_ref1, pm1)
# result_pro1 = pd.concat([result_pro1,sd.cmse.deconvolute_core_mse(bulk1,sc_ref1c)],axis=1)
# result_pro1
sd.cmse.deconvolute_core_mse(bulk1,sc_ref1c)

Please check if the generated true singlet/dobulet nubmers meet the need:
--num of valid droplets: 2371
--num of true singlets: 2327
--num of true doublets: 42
multiprocessing:  1.429701566696167
1.4418690204620361

              CT1       CT2       CT3
sample1  0.255082  0.596378  0.148540
sample2  0.352476  0.323763  0.323761

In [4]:
sd.cby.deconvolute_core_bayes(bulk1,sc_ref1c)

              CT1       CT2       CT3
sample1  0.254409  0.594809  0.150782
sample2  0.352472  0.323759  0.323770